<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Breeds</key>
	<array>
		<dict>
			<key>NAME</key>
			<string>八角金盘</string>
			<key>SEDID</key>
			<integer>10173</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>八仙花</string>
			<key>SEDID</key>
			<integer>10114</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>白蜡</string>
			<key>SEDID</key>
			<integer>10171</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>白皮松</string>
			<key>SEDID</key>
			<integer>10030</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>白玉兰(玉兰)</string>
			<key>SEDID</key>
			<integer>10071</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>板栗</string>
			<key>SEDID</key>
			<integer>10214</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>碧桃</string>
			<key>SEDID</key>
			<integer>10056</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>扁柏</string>
			<key>SEDID</key>
			<integer>10038</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>侧柏</string>
			<key>SEDID</key>
			<integer>10037</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>茶梅</string>
			<key>SEDID</key>
			<integer>10099</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>檫树</string>
			<key>SEDID</key>
			<integer>10194</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>常春藤</string>
			<key>SEDID</key>
			<integer>10132</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>池杉</string>
			<key>SEDID</key>
			<integer>10046</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>臭椿</string>
			<key>SEDID</key>
			<integer>10019</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>垂柳</string>
			<key>SEDID</key>
			<integer>10008</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>垂丝海棠</string>
			<key>SEDID</key>
			<integer>10111</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>春鹃</string>
			<key>SEDID</key>
			<integer>10185</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>刺柏</string>
			<key>SEDID</key>
			<integer>10041</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>葱兰</string>
			<key>SEDID</key>
			<integer>10225</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>大吴风草</string>
			<key>SEDID</key>
			<integer>10203</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>大叶黄杨</string>
			<key>SEDID</key>
			<integer>10088</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>大叶栀子花</string>
			<key>SEDID</key>
			<integer>10102</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>丹桂</string>
			<key>SEDID</key>
			<integer>10073</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>淡竹</string>
			<key>SEDID</key>
			<integer>10137</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>棣棠</string>
			<key>SEDID</key>
			<integer>10197</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>丁香(紫丁香)</string>
			<key>SEDID</key>
			<integer>10150</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>冬青</string>
			<key>SEDID</key>
			<integer>10164</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>豆瓣黄杨</string>
			<key>SEDID</key>
			<integer>10094</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>杜鹃</string>
			<key>SEDID</key>
			<integer>10117</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>杜英</string>
			<key>SEDID</key>
			<integer>10074</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>鹅掌楸（马褂木）</string>
			<key>SEDID</key>
			<integer>10068</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>二乔玉兰</string>
			<key>SEDID</key>
			<integer>10067</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>法国冬青(珊瑚树)</string>
			<key>SEDID</key>
			<integer>10163</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>法桐（三球悬铃木）</string>
			<key>SEDID</key>
			<integer>10160</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>丰花月季</string>
			<key>SEDID</key>
			<integer>10219</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>凤尾兰</string>
			<key>SEDID</key>
			<integer>10105</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>凤尾竹</string>
			<key>SEDID</key>
			<integer>10140</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>枫香</string>
			<key>SEDID</key>
			<integer>10051</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>枫杨</string>
			<key>SEDID</key>
			<integer>10075</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>弗吉尼亚栎</string>
			<key>SEDID</key>
			<integer>10176</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>佛甲草</string>
			<key>SEDID</key>
			<integer>10155</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>刚竹</string>
			<key>SEDID</key>
			<integer>10136</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>高杆女贞</string>
			<key>SEDID</key>
			<integer>10125</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>瓜子黄杨</string>
			<key>SEDID</key>
			<integer>10089</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>广玉兰</string>
			<key>SEDID</key>
			<integer>10064</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>桧柏</string>
			<key>SEDID</key>
			<integer>10042</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>龟甲冬青</string>
			<key>SEDID</key>
			<integer>10165</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>国槐(槐树)</string>
			<key>SEDID</key>
			<integer>10078</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>果石榴</string>
			<key>SEDID</key>
			<integer>10119</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>海棠花</string>
			<key>SEDID</key>
			<integer>10108</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>海桐</string>
			<key>SEDID</key>
			<integer>10107</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>海桐球</string>
			<key>SEDID</key>
			<integer>10161</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>旱柳</string>
			<key>SEDID</key>
			<integer>10006</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>荷花</string>
			<key>SEDID</key>
			<integer>10145</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>合欢</string>
			<key>SEDID</key>
			<integer>10077</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>黑松</string>
			<key>SEDID</key>
			<integer>10031</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>红豆杉</string>
			<key>SEDID</key>
			<integer>10169</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>红枫</string>
			<key>SEDID</key>
			<real>10018</real>
		</dict>
		<dict>
			<key>NAME</key>
			<string>红果冬青</string>
			<key>SEDID</key>
			<integer>10237</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>红花酢酱草</string>
			<key>SEDID</key>
			<integer>10226</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>红花檵木</string>
			<key>SEDID</key>
			<integer>10162</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>红花木莲</string>
			<key>SEDID</key>
			<integer>10172</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>红花绣线菊</string>
			<key>SEDID</key>
			<integer>10209</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>红帽子月季</string>
			<key>SEDID</key>
			<integer>10218</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>红梅</string>
			<key>SEDID</key>
			<integer>10055</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>红瑞木</string>
			<key>SEDID</key>
			<integer>10153</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>红叶石楠</string>
			<key>SEDID</key>
			<integer>10157</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>红叶小檗</string>
			<key>SEDID</key>
			<integer>10152</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>红玉兰</string>
			<key>SEDID</key>
			<integer>10066</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>厚皮香</string>
			<key>SEDID</key>
			<integer>10076</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>胡颓子</string>
			<key>SEDID</key>
			<integer>10177</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>花柏</string>
			<key>SEDID</key>
			<integer>10026</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>花梅</string>
			<key>SEDID</key>
			<integer>10053</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>花石榴（月季石榴）</string>
			<key>SEDID</key>
			<integer>10120</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>花桃</string>
			<key>SEDID</key>
			<integer>10057</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>花叶蔓长春</string>
			<key>SEDID</key>
			<integer>10190</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>黄菖蒲</string>
			<key>SEDID</key>
			<integer>10222</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>黄金菊</string>
			<key>SEDID</key>
			<integer>10204</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>黄金条</string>
			<key>SEDID</key>
			<integer>10199</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>黄连木</string>
			<key>SEDID</key>
			<integer>10220</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>黄山栾树</string>
			<key>SEDID</key>
			<integer>10049</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>黄杨</string>
			<key>SEDID</key>
			<integer>10087</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>火棘</string>
			<key>SEDID</key>
			<integer>10121</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>鸡爪槭</string>
			<key>SEDID</key>
			<integer>10016</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>夹竹桃</string>
			<key>SEDID</key>
			<integer>10175</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>江南桤木</string>
			<key>SEDID</key>
			<integer>10048</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>结香</string>
			<key>SEDID</key>
			<integer>10182</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>金边黄杨</string>
			<key>SEDID</key>
			<integer>10092</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>锦带花</string>
			<key>SEDID</key>
			<integer>10231</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>金桂</string>
			<key>SEDID</key>
			<integer>10081</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>金钱松</string>
			<key>SEDID</key>
			<integer>10035</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>金森女贞</string>
			<key>SEDID</key>
			<integer>10124</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>金丝垂柳</string>
			<key>SEDID</key>
			<integer>10009</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>金丝桃</string>
			<key>SEDID</key>
			<integer>10188</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>金焰绣线菊</string>
			<key>SEDID</key>
			<integer>10210</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>金叶女贞</string>
			<key>SEDID</key>
			<integer>10126</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>金银花</string>
			<key>SEDID</key>
			<integer>10232</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>榉树</string>
			<key>SEDID</key>
			<integer>10060</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>橘子树</string>
			<key>SEDID</key>
			<integer>10003</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>苦楝</string>
			<key>SEDID</key>
			<integer>10004</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>苦槠</string>
			<key>SEDID</key>
			<integer>10200</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>阔叶十大功劳</string>
			<key>SEDID</key>
			<integer>10192</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>腊梅(蜡梅)</string>
			<key>SEDID</key>
			<integer>10112</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>榔榆</string>
			<key>SEDID</key>
			<integer>10052</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>乐昌含笑</string>
			<key>SEDID</key>
			<integer>10069</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>连翘</string>
			<key>SEDID</key>
			<integer>10149</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>楝树</string>
			<key>SEDID</key>
			<integer>10023</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>凌霄</string>
			<key>SEDID</key>
			<integer>10234</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>柳杉</string>
			<key>SEDID</key>
			<integer>10034</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>龙柏</string>
			<key>SEDID</key>
			<integer>10040</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>龙柏球</string>
			<key>SEDID</key>
			<integer>10166</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>龙爪槐</string>
			<key>SEDID</key>
			<integer>10050</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>芦苇</string>
			<key>SEDID</key>
			<integer>10230</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>栾树</string>
			<key>SEDID</key>
			<integer>10021</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>罗汉柏</string>
			<key>SEDID</key>
			<integer>10044</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>罗汉松</string>
			<key>SEDID</key>
			<integer>10072</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>椤木石楠</string>
			<key>SEDID</key>
			<integer>10156</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>落羽杉</string>
			<key>SEDID</key>
			<integer>10036</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>麻叶绣球</string>
			<key>SEDID</key>
			<integer>10236</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>麦冬</string>
			<key>SEDID</key>
			<integer>10147</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>毛白杨</string>
			<key>SEDID</key>
			<integer>10010</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>毛鹃</string>
			<key>SEDID</key>
			<integer>10184</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>毛竹</string>
			<key>SEDID</key>
			<integer>10142</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>梅花</string>
			<key>SEDID</key>
			<integer>10054</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>美人蕉</string>
			<key>SEDID</key>
			<integer>10233</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>美人梅</string>
			<key>SEDID</key>
			<integer>10097</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>木芙蓉</string>
			<key>SEDID</key>
			<integer>10116</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>木荷</string>
			<key>SEDID</key>
			<integer>10083</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>木槿</string>
			<key>SEDID</key>
			<integer>10115</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>木香</string>
			<key>SEDID</key>
			<integer>10205</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>木绣球</string>
			<key>SEDID</key>
			<integer>10206</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>南天竹</string>
			<key>SEDID</key>
			<integer>10144</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>女贞</string>
			<key>SEDID</key>
			<integer>10122</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>爬山虎</string>
			<key>SEDID</key>
			<integer>10135</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>枇杷</string>
			<key>SEDID</key>
			<integer>10167</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>铺地柏</string>
			<key>SEDID</key>
			<integer>10043</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>朴树</string>
			<key>SEDID</key>
			<integer>10011</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>七叶树</string>
			<key>SEDID</key>
			<integer>10022</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>铅笔柏（北美圆柏）</string>
			<key>SEDID</key>
			<integer>10027</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>千屈菜</string>
			<key>SEDID</key>
			<integer>10229</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>千头柏</string>
			<key>SEDID</key>
			<integer>10025</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>青冈栎</string>
			<key>SEDID</key>
			<integer>10084</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>青桐</string>
			<key>SEDID</key>
			<integer>10085</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>楸树</string>
			<key>SEDID</key>
			<integer>10189</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>雀舌黄杨</string>
			<key>SEDID</key>
			<integer>10090</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>箬竹</string>
			<key>SEDID</key>
			<integer>10141</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>洒金柏</string>
			<key>SEDID</key>
			<integer>10174</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>洒金珊瑚</string>
			<key>SEDID</key>
			<integer>10047</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>洒金桃叶珊瑚</string>
			<key>SEDID</key>
			<integer>10208</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>伞房决明</string>
			<key>SEDID</key>
			<integer>10193</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>三角枫(三角槭)</string>
			<key>SEDID</key>
			<integer>10015</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>山茶花（茶花）</string>
			<key>SEDID</key>
			<integer>10095</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>珊瑚朴</string>
			<key>SEDID</key>
			<integer>10012</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>山麻杆</string>
			<key>SEDID</key>
			<integer>10179</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>山楂</string>
			<key>SEDID</key>
			<integer>10215</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>深山含笑</string>
			<key>SEDID</key>
			<integer>10070</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>石菖蒲</string>
			<key>SEDID</key>
			<integer>10223</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>十大功劳</string>
			<key>SEDID</key>
			<integer>10104</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>湿地松</string>
			<key>SEDID</key>
			<integer>10032</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>石榴</string>
			<key>SEDID</key>
			<integer>10118</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>石楠</string>
			<key>SEDID</key>
			<integer>10158</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>柿树</string>
			<key>SEDID</key>
			<integer>10181</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>石蒜</string>
			<key>SEDID</key>
			<integer>10224</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>寿星桃</string>
			<key>SEDID</key>
			<integer>10058</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>水蜡</string>
			<key>SEDID</key>
			<integer>10240</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>水腊</string>
			<key>SEDID</key>
			<integer>10123</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>睡莲</string>
			<key>SEDID</key>
			<integer>10146</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>水杉</string>
			<key>SEDID</key>
			<integer>10045</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>四季桂</string>
			<key>SEDID</key>
			<integer>10013</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>丝兰</string>
			<key>SEDID</key>
			<integer>10195</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>苏铁</string>
			<key>SEDID</key>
			<integer>10100</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>桃花</string>
			<key>SEDID</key>
			<integer>10059</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>桃叶珊瑚</string>
			<key>SEDID</key>
			<integer>10207</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>贴梗海棠（皱皮木瓜）</string>
			<key>SEDID</key>
			<integer>10110</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>铁树</string>
			<key>SEDID</key>
			<integer>10196</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>万年青</string>
			<key>SEDID</key>
			<integer>10130</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>晚樱</string>
			<key>SEDID</key>
			<integer>10062</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>卫矛</string>
			<key>SEDID</key>
			<integer>10239</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>蚊母树</string>
			<key>SEDID</key>
			<integer>10086</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>无刺构骨</string>
			<key>SEDID</key>
			<integer>10198</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>无花果</string>
			<key>SEDID</key>
			<integer>10183</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>无患子</string>
			<key>SEDID</key>
			<integer>10014</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>乌桕</string>
			<key>SEDID</key>
			<integer>10079</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>五针松</string>
			<key>SEDID</key>
			<integer>10033</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>西府海棠</string>
			<key>SEDID</key>
			<integer>10109</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>喜树</string>
			<key>SEDID</key>
			<integer>10024</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>夏鹃</string>
			<key>SEDID</key>
			<integer>10186</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>狭叶十大功劳</string>
			<key>SEDID</key>
			<integer>10191</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>香椿</string>
			<key>SEDID</key>
			<integer>10020</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>香泡</string>
			<key>SEDID</key>
			<integer>10154</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>香樟</string>
			<key>SEDID</key>
			<integer>10002</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>小檗</string>
			<key>SEDID</key>
			<integer>10151</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>孝顺竹</string>
			<key>SEDID</key>
			<integer>10139</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>小叶扶芳藤</string>
			<key>SEDID</key>
			<integer>10134</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>小叶黄杨</string>
			<key>SEDID</key>
			<integer>10091</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>小叶女贞</string>
			<key>SEDID</key>
			<integer>10127</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>小叶栀子花</string>
			<key>SEDID</key>
			<integer>10103</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>杏树</string>
			<key>SEDID</key>
			<integer>10168</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>悬铃木</string>
			<key>SEDID</key>
			<integer>10159</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>雪松</string>
			<key>SEDID</key>
			<integer>10029</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>亚菊</string>
			<key>SEDID</key>
			<integer>10228</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>盐肤木</string>
			<key>SEDID</key>
			<integer>10238</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>杨梅</string>
			<key>SEDID</key>
			<integer>10170</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>意杨</string>
			<key>SEDID</key>
			<integer>10216</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>银边黄杨</string>
			<key>SEDID</key>
			<integer>10093</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>银桂</string>
			<key>SEDID</key>
			<integer>10082</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>银柳</string>
			<key>SEDID</key>
			<integer>10007</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>银杏</string>
			<key>SEDID</key>
			<integer>10005</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>迎春</string>
			<key>SEDID</key>
			<integer>10148</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>樱花</string>
			<key>SEDID</key>
			<integer>10061</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>樱桃</string>
			<key>SEDID</key>
			<integer>10178</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>油桐</string>
			<key>SEDID</key>
			<integer>10212</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>柚子</string>
			<key>SEDID</key>
			<integer>10211</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>羽毛枫</string>
			<key>SEDID</key>
			<integer>10213</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>榆树</string>
			<key>SEDID</key>
			<integer>10235</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>榆叶梅</string>
			<key>SEDID</key>
			<integer>10096</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>玉簪</string>
			<key>SEDID</key>
			<integer>10221</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>圆柏</string>
			<key>SEDID</key>
			<integer>10039</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>鸢尾</string>
			<key>SEDID</key>
			<integer>10201</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>月季花</string>
			<key>SEDID</key>
			<integer>10106</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>皂荚树</string>
			<key>SEDID</key>
			<integer>10129</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>枣树</string>
			<key>SEDID</key>
			<integer>10180</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>早园竹</string>
			<key>SEDID</key>
			<integer>10138</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>珍珠梅</string>
			<key>SEDID</key>
			<integer>10098</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>栀子花</string>
			<key>SEDID</key>
			<integer>10101</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>中华常春藤</string>
			<key>SEDID</key>
			<integer>10133</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>中山杉</string>
			<key>SEDID</key>
			<integer>10028</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>重阳木</string>
			<key>SEDID</key>
			<integer>10080</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>紫荆</string>
			<key>SEDID</key>
			<integer>10113</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>紫鹃</string>
			<key>SEDID</key>
			<integer>10187</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>紫藤</string>
			<key>SEDID</key>
			<integer>10131</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>紫薇</string>
			<key>SEDID</key>
			<integer>10128</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>紫叶李</string>
			<key>SEDID</key>
			<integer>10063</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>紫叶山本酢酱草</string>
			<key>SEDID</key>
			<integer>10227</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>紫叶桃</string>
			<key>SEDID</key>
			<integer>10217</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>紫玉兰</string>
			<key>SEDID</key>
			<integer>10065</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>紫竹</string>
			<key>SEDID</key>
			<integer>10143</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>棕榈</string>
			<key>SEDID</key>
			<integer>10001</integer>
		</dict>
		<dict>
			<key>NAME</key>
			<string>醉鱼草</string>
			<key>SEDID</key>
			<integer>10202</integer>
		</dict>
	</array>
</dict>
</plist>
